<h1>Welcome to Wikiiki</h1>
<p>A Wikiiki replica to teach the fundamentals of web development and Rails</p>
<p>Technology: HTML, CSS, Ruby on Rails, Heroku Sendgrid mail server, ActionMailer client, Devise for users authentication, 
Stripe for Credit card transaction, Pundit for authorization, and Figaro to setup environment variables</p>
