<h1> Downgrade Account</h1>
<h2> Warning! The following posts will be converted to Public after you switch back to Standard account.</h2>
<div>
  <% @private_posts.each do |post| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to post.title, post %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
<%= button_to "Downgrade", action: "downgrade_posts" %>
